<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script defer src="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>


<div class="overlay">
</div>

<main>

    <header>
        <h1>Data Processing Flask API 🧑‍💻🐳🪄</h1>

        <form action="" class="form" enctype="multipart/form-data" method="post">
            <div class="form__container">
                <div class="form__file">
                    <label class="form__file--label" for="input-file">Click here to upload file ...</label>
                    <input class="form__file--input" id="input-file" name="file" type="file">
                </div>

                <button class="submit-btn" type="submit">Clean</button>
            </div>
        </form>

    </header>
    <div class="uploaded-files-wrapper">
        <h3>Uploaded Files </h3>
        <table >
            <thead>
                <tr >
                    <td >Name</td>
                    <td >Type</td>
                    <td >Actions</td>
                </tr>
            </thead>
            <tbody class="uploaded-files">

            </tbody>
        </table>
    </div>

    <div class="cleaned-files-container">
        <h3>Cleaned Files</h3>
        <table >
            <thead>
                <tr >
                    <td >Name</td>
                    <td >Type</td>
                    <td >Actions</td>
                </tr>
            </thead>
            <tbody class="cleaned-files">

            </tbody>
        </table>
    </div>
    <ul class=flashes></ul>

</main>


</body>
</html>